# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
config/*
config
server/migrations
server
utils
技术交流
manage.py
package-lock.json
requirements.txt
