# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
.vscode
client/dist
client/node_modules
client/dist/*
.project
config/__pycache__
server/__pycache__
utils/__pycache__
server/migrations/__pycache__
client/runDist.sh
